
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Bold.eot"); 
  src: url("./../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), 
    url("./../fonts/Montserrat-Bold.woff") format("woff"), 
    url("./../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Regular.eot"); /* IE9 Compat Modes */
  src: url("./../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./../fonts/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
    url("./../fonts/Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins-Regular.eot"); /* IE9 Compat Modes */
  src: url("./../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./../fonts/Poppins-Regular.woff") format("woff"), /* Modern Browsers */
    url("./../fonts/Poppins-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-bold";
  src: url("./../fonts/Poppins-ExtraBold.eot"); 
  src: url("./../fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), 
    url("./../fonts/Poppins-ExtraBold.woff") format("woff"),
    url("./../fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* RESET  */
*,
html,
body,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #222;
  line-height: 1.5;
  /* width: 100vw; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  /* width: 100vw; */
  overflow: hidden;
  position: relative;
}

.main {
  width: 100%;
  overflow: hidden;
}

#how-it-works {
  margin-bottom: 60px;
  margin-top: -12em;
}

.nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 2em 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 1000;
}

.nav-style-light {
  background-color: #fff;
  box-shadow: 10px 0 20px #59595964;
}

.nav-style-light a {
  color: #222 !important;
}

.nav-style-light .logo-section {
  color: #01586c;
}

.nav-style-dark {
  background-color: #002a34;
  color: #fff;
}

.nav-style-dark a {
  color: #fff !important;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  color: #13f4da;
  font-weight: bold;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 1em;
  width: 3em;
}

.logo a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
}

.menu-items-section a {
  text-decoration: none;
  color: #fff;
  margin: 0 30px;
  position: relative;
  cursor: pointer;
}

.menu-items-section a:hover {
  color: #00abd2 !important;
}

.menu-items-section .get-app-btn,
#why-wastecoin-section a,
.banner-text a {
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
  color: #000 !important;
  margin: 0 0 0 2em;
  background-color: #00d0ff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;
  /* font-weight: 600; */
}

.menu-items-section .get-app-btn{
  margin-left: 0;
}


#why-wastecoin-section a {
  background-color: #014554;
  color: #fff !important;
  margin: 5em auto;
  display: block;
  width: 30%;
  padding: 1.5em;
}

.logo a:focus,.menu-icon:focus,.menu-items-section a:focus,.banner-text a:focus,
#why-wastecoin-section a:focus,#why-wastecoin-section a:focus,.footer-content>div a:focus {
  outline: 2px dashed #2effb6;
  outline-offset: 5px;
}

.menu-items-section .get-app-btn:hover,
.banner-text a:hover,#why-wastecoin-section a:hover {
  background-color: #2effb6;
  color: #000 !important;

}

#why-wastecoin-section a:hover {
  background-color: #001e24;
  color: #fff !important;
}
#why-wastecoin-section a:focus{
  outline: 2px dashed #fff;
}

.section {
  width: 100%;
}

.banner-text-img-section {
  padding: 100px 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #01586c;
  background-color: #002a34;
  margin-bottom: 0em;
}

.banner-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: auto;
  width: 60%;
  height: 30em;
}

.banner-text {
  padding: 0 1em;
  z-index: 2;
}

.banner-text a {
  display: block;
  margin: 2em 0 0 -0.5em;
  background-color: #00d0ff;
  border-radius: 10px;
  padding: 1em;
  text-decoration: none;
  color: #000;
  width: 400px;
  text-align: center;
  cursor: pointer;
}
#why-wastecoin-section a{
  width: 400px;
}

.banner-text h1 {
  font-family: 'Poppins-bold', sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  color: #00d0ff;
  color: #fff;
  line-height: 1.2;
}

.banner-text p {
  color: #62e2ff;
  font-size: 1.2em;
  margin-top: 1em;
}

.banner-bg img:nth-of-type(1) {
  width: 45vw;
  z-index: 2;
}

.banner-bg svg {
  width: 43vw;
  height: 100%;
  position: absolute;
  z-index: 1;
}

/* how it workss */


#how-it-works-section {
  padding: 0 1em 1em 1em;
  position: relative;
  z-index: 2;
}

.heading {
  text-align: center;
  color: #008798;
  margin-bottom: 1em;
  font-size: 2em;
}


.banner-text-img-section {
  border-radius: 0 0 90% 0;
  padding-bottom: 60px;
  margin-bottom: 0;
}

#how-it-works {
  margin-bottom: 60px;
  margin-top: 0;
}

.step-title {
  font-size: 1.3em;
  color: #222;
  font-weight: 700;
  margin: 0.3em 0;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}

.heading {
  font-size: 3.5em;
}

.step-desc {
  font-size: 1.5em;
}

#how-it-works-section,
#how-it-works-section2,
#how-it-works-section3,
#how-it-works-section4 {
  display: grid;
  grid-template-columns: 1fr 400px;
  margin-bottom: 80px;
  padding: 20px;
  overflow: hidden;
  color: #222;
}
#how-it-works-section p,
#how-it-works-section2 p,
#how-it-works-section3 p,
#how-it-works-section4 p{
  color: #272727;
}
#how-it-works-section2,
#how-it-works-section4 {
  display: grid;
  grid-template-columns: 400px 1fr;
}

#how-it-works-section .heading {
  margin-bottom: 0.2em;
  text-align: start;
}

#how-it-works-section h3,
#how-it-works-section2 h3,
#how-it-works-section3 h3,
#how-it-works-section4 h3 {
  font-size: 32px;
}

#how-it-works-section2 .steps-section,
#how-it-works-section4 .steps-section {
  grid-column: 2 / span 1;
}

.steps-section {
  grid-column: 1 / span 1;
  position: relative;
  padding-bottom: 55px;
}


.device-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.device-section img {
  border: 10px solid rgba(0, 0, 0, 0.085);
}

.device-bg {
  height: 300px;
  width: 300px;
  background: linear-gradient(-45deg, #2effb6, #00d0ff);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

@media all and (min-width: 1024px) {

  #how-it-works-section,
  #how-it-works-section2,
  #how-it-works-section3,
  #how-it-works-section4 {
    padding: 1em 6em 1em 6em;
  }

}

@media all and (max-width: 730px) {
  .heading {
    font-size: 2.2rem;
  }

  #how-it-works-section h3,
  #how-it-works-section2 h3,
  #how-it-works-section3 h3,
  #how-it-works-section4 h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem !important;
  }

  #how-it-works-section,
  #how-it-works-section3 {
    grid-template-columns: 1fr 150px;
    position: relative;
  }

  #how-it-works-section2,
  #how-it-works-section4 {
    grid-template-columns: 150px 1fr;
    position: relative;
  }

  .steps-section {
    grid-column: 1 / span 1;
    position: relative;
  }

  .device-section {
    position: absolute;
    right: -100px;
    top: 0;
  }

  #how-it-works-section2 .device-section,
  #how-it-works-section4 .device-section {
    position: absolute;
    left: -105%;
    top: 0;
  }

}

@media all and (max-width: 425px) {

  #how-it-works-section2,
  #how-it-works-section4,
  #how-it-works-section,
  #how-it-works-section3 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  #how-it-works-section,
  #how-it-works-section3 {
    flex-direction: column-reverse;
  }

  #how-it-works-section2 .device-section,
  #how-it-works-section4 .device-section {
    position: block;
    top: 0;
  }

  .device-section {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative !important;
    left: 0 !important;
    margin-bottom: 20px;
  }

  .device-section img {
    width: 50%;
    border: none;
  }

  .device-bg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}

.why-wastecoin {
  border-radius: 0 40% 0 0;
  padding-top: 90px !important;
}

@media all and (max-width: 767px) {
  .why-wastecoin {
    border-radius: 0 30% 0 0;
    padding-top: 0px !important;
  }

  .banner-text-img-section {
    border-radius: 0 0 50% 0;
  }
}

@media all and (max-width: 700px) {
  .why-wastecoin {
    border-radius: 0 100px 0 0;
    padding-top: 30px !important;
  }

  .banner-text-img-section {
    border-radius: 0 0 100px 0;
  }
}

/* WHY WASTECOIN STYLING */

#why-wastecoin-section .section-content {
  background-color: #3bd7f1;
  width: 100%;
  padding: 2em 1em;
  z-index: 2;
  overflow-x: hidden;
  padding-bottom: 15em;
}

#why-wastecoin-section .heading {
  color: #004b5d;
  margin-bottom: 2.5em;
}

.section-content .content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.content-wrapper .content {
  text-align: center;
  width: 30%;
  height: 300px;
  background-color: #fff;
  border-radius: 2em;
  margin-top: 3em;
}

.icon-wrapper {
  overflow: hidden;
}

.icon-wrapper img {
  width: 70%;
  height: 90%;
}

.content-wrapper .content>div {
  width: 15em;
  height: 15em;
  background-color: #13f4da;
  border: 1em solid #fff;
  border-radius: 50%;
  margin: -4em auto 2em auto;
}

.content h3 {
  color: #197f96;
  padding: 0 1em;
}

.content p {
  padding: 0 1em;
}

/* FOOTER SECTION STYLING */
.footer {
  width: 100%;
}

.footer-content-wrapper {
  background-color: #002a34;
  padding: 1em;
  margin-top: -10em;
  color: #fff;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: flex-start;
  line-height: 2.5;
  width: 100%;
}

.footer-header {
  font-size: 1.5em;
  color: #00d0ff;
  line-height: 1.6;
}

.footer-content>div {
  flex: 1;
  width: 32%;
  margin: 1em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-content>div a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 0.5em;
}

.footer-content>div a:hover {
  color: #00d0ff;
}

.footer-content .social-media a {
  display: inline;
}

.footer-content a > span {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.5em;
}

.copyright {
  text-align: center;
  display: block;
  margin-top: 2em;
  color: #52e0ff;
  font-weight: bold;
}

@media all and (max-width:1200px) {
  .banner-text h1 {
    font-size: 4em;
  }
}

@media all and (max-width:990px) {
 
  .banner-text a,#why-wastecoin-section a{
    width: 40vw;
  }
}

@media all and (max-width:820px) {
  .banner-text h1 {
    font-size: 3em;
  }
}

@media all and (max-width:960px) {
  .nav {
    flex-direction: column;
    padding: 0.6em 1em;
  }

  .logo-section {
    width: 100%;
    margin: 0.5em auto;
    padding: auto 1em;
  }

  .menu-icon {
    display: block;
  }

  .menu-items-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
  }

  .menu-items-section a {
    margin: 1em;
  }
}

@media all and (max-width:760px) {
  .banner-text-img-section {
    padding: 80px 1em 2em 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    border-radius: 0;
  }

  .banner-bg {
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .banner-text {
    padding: 1em;
    text-align: start;
    width: 100%;
  }

  .banner-text h1 {
    font-size: 3em;
    line-height: 1.3;
  }


  .heading {
    font-size: 2em;
  }

  .banner-text p {
    color: #62e2ff;
    font-size: 1.4em;
    margin-top: 1em;
  }

  .banner-bg img:nth-of-type(1) {
    width: 70%;
  }

  .banner-bg svg {
    width: 65%;
  }
  
  #why-wastecoin-section .heading{
    margin-top: 3em;
  }

  #how-it-works {
    margin-top: 0;
  }

  .content-wrapper .content>div {
    width: 12em;
    height: 12em;
  }

}

@media all and (max-width:680px) {
  #how-it-works-section .heading {
    margin-bottom: 0;
  }

  .content-wrapper {
    flex-wrap: wrap;
  }

  .content-wrapper .content {
    text-align: center;
    width: 60%;
    height: 300px;
    background-color: #fff;
    border-radius: 2em;
    margin: 3em;
    padding: 0 1em 3em 1em;
  }
}
@media all and (max-width:680px) {  
  #how-it-works .heading{
    margin-bottom: 0;
  }
}
@media all and (max-width:560px) {
  .banner-text-img-section {
    padding: 80px 1em 2em 1em;
  }

  .banner-bg {
    justify-content: center;
    width: 100%;
  }

  .banner-text {
    text-align: center;
  }

  .banner-text h1 {
    font-size: 2.6em;
  }

  .banner-text a,#why-wastecoin-section a {
    width: 100%;
  }

  .banner-text p {
    font-size: 1.2em;
  }

  .banner-bg img:nth-of-type(1) {
    width: 70%;
  }

  .banner-bg img:nth-of-type(2) {
    width: 80%;
  }

  .content-wrapper .content {
    width: 94%;
    height: fit-content;
    padding: 0 1em 3em 1em;
    margin: 3em 1em;
  }

  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.5;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .footer-content>div {
    width: 100%;
    margin: 1em;
    align-items: center;
  }
}

@media all and (min-width:1440px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }

  .nav {
    width: 1440px;
    left: initial;
    padding: 1em 4em;
  }
  .banner-text-img-section{
    padding:4em;
  }
  #how-it-works-section, .section-content .content-wrapper{
    padding: 1em 4em;
  }


  .banner-bg img:nth-of-type(1) {
    width: calc(45/100 * 1440px);
  }

  .banner-bg img:nth-of-type(2) {
    width: calc(40/100 * 1440px);
    position: absolute;
  }

  .banner-text a {
    width: 400px;
  }
}


@media all and (max-width:1024px){
  .banner-bg{
    height: 35em;
  }
}
@media all and (max-width:560px){
  .banner-bg{
    height: 28em;
  }
}
@media all and (max-width:420px){
  .banner-bg{
    height: 20em;
  }
}
@media all and (max-width:320px){
  .banner-bg{
    height: 17em;
  }
}

@media all and (min-width:1024px){
  .banner-bg{
    height: 35em;
  }
}

@media all and (min-width:1200px){
  .banner-bg{
    height: 40em;
  }
}
