/* RESET  */
*,
html,
body,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #222;
  line-height: 1.5;
  width: 100vw;
  height: 300vh;
  overflow-x: hidden;
}

.nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 1000;
}

.nav-style-light {
  background-color: #fff;
  box-shadow: 10px 0 20px #6d6d6dc1;
}

.nav-style-light a {
  color: #222 !important;
}

.nav-style-light .logo-section {
  color: #01586c;
}

.nav-style-dark {
  background-color: #01586c;
  color: #fff;
}

.nav-style-dark a {
  color: #fff !important;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  color: #13f4da;
  font-weight: bold;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 20%;
  margin-right: 1em;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
}

.menu-icon img {
  width: 60%;
}

.menu-items-section a {
  text-decoration: none;
  color: #fff;
  margin: 0 1.5em;
  position: relative;
  cursor: pointer;
}

.menu-items-section a:after {
  /* content: " "; */
  width: 100%;
  height: 5px;
  background-color: #00abd2;
  position: absolute;
  left: 0;
  border-radius: 2em;
  bottom: -1em;
}

.menu-items-section a:hover {
  color: #00abd2 !important;
}

.menu-items-section a:hover~a:after {
  background-color: #ff5985 !important;
}


.menu-items-section button {
  padding: 1em 2em;
  border-radius: 2em;
  border: none;
  color: #fff;
  margin: 0 0 0 2em;
  background-color: #00abd2;
  cursor: pointer;
}

.menu-items-section button:focus {
  outline: 2px dashed #fff;
  outline-offset: 5px;
}

.menu-items-section button:hover {
  background-color: #00d0ff;
  color: #000;
}

.section {
  width: 100vw;
}

.banner-text-img-section {
  padding: 100px 1em 1em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #01586c;
  margin-bottom: 2em;
}

.banner-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: auto;
  width: 60vw;
}

.banner-text {
  padding: 0 1em;
}

.banner-text h1 {
  font-size: 6em;
  font-size: 4em;
  color: #00d0ff;
  color: #fff;
  line-height: 1;
}

.banner-text p {
  color: #62e2ff;
  font-size: 1.4em;
  margin-top: 1em;
}

.banner-bg img:nth-of-type(1) {
  width: 45vw;
}

.banner-bg img:nth-of-type(2) {
  width: 40vw;
  position: absolute;
}

.banner-swirl {
  width: 100vw;
  height: 500px;
  margin-top: -30em;
}

/* how it workss */

#how-it-works{
  padding: 0 1em 1em 1em;
  position: relative;
  z-index: 2;
  /* margin: -2em 0 0 0; */
}

.heading{
  text-align: center;
  color: #00abd2;
  margin-bottom: 1em;
  font-size: 3em;
}

.steps{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 1em;
  margin: 0 auto;
}

.steps > div{
  display: flex;
  width: 30%;
  margin: 1em;
}

.step-number{
  font-size: 12em;
  font-weight: bold;
  color: #00d0ff;
}

.step-img{
  height: 12vw;
  width: 100%;
  border-radius: 1em;
  background-color: #00abd2;
}
.step-title{
  font-size: 1.6em;
  color: #222;
  font-weight: 500;
  margin: 0.3em 0;
}

#how-it-works > img{
  position: absolute;
  left: -5em;
  bottom: -15em;
  width: 800px;
  z-index: -1;
}
.step-text-wrapper{
  flex: 1;
}

@media all and (max-width:960px) {
  .nav {
    flex-direction: column;
    padding: 1em 1em 1em 2em;
  }

  .logo-section {
    width: 100%;
    margin: 0.5em auto;
    padding: auto 1em;
  }

  .menu-icon {
    display: block;
  }

  .menu-items-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .menu-items-section a {
    margin: 1em;
  }

  .menu-items-section button {
    margin: 1em 0 0 0;
  }
}

@media all and (max-width:760px) {
  .banner-text-img-section {
    padding: 80px 1em 2em 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    border-radius: 0 0 7em 7em;
  }

  .banner-bg {
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
  }

  .banner-text {
    padding: 1em;
    text-align: start;
  }

  .banner-text h1 {
    font-size: 3em;
    line-height: 1.3;
  }

  .heading{
    font-size: 2em;
  }

  .banner-text p {
    color: #62e2ff;
    font-size: 1.4em;
    margin-top: 1em;
  }

  .banner-bg img:nth-of-type(1) {
    width: 70%;
  }

  .banner-bg img:nth-of-type(2) {
    width: 60%;
  }

  .banner-swirl {
    display: none;
  }
}

@media all and (max-width:950px) {  
  .steps{
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 2em;
  }
  
  .steps > div{
    width: 40%;
    margin: 1em;
  }  
  .step-img{
    height: 15vw;
  }
  #how-it-works > img{
    bottom: -10em;
    width: 80%;
  }
}

@media all and (max-width:760px) {    
  .steps > div{
    width: 46%;
  
  }  
  .step-img{
    height: 17vw;
  }
}

@media all and (max-width:680px) {  
  .steps{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em 2em;
  }
  #how-it-works .heading{
    margin-bottom: 0;
  }
  
  .steps > div{
    display: flex;
    flex-direction: column;
    width: 80%;
  }  
  .step-img{
    height: 10em;
    width: 50%;
    margin:0 auto;
  }
  #how-it-works > img{
    bottom: -10em;
    width: 80%;
  }
  .step-number{
    font-size: 4em;
  }
}
@media all and (max-width:560px) {
  .banner-text-img-section {
    padding: 80px 1em 2em 1em;
  }

  .banner-bg {
    justify-content: center;
    width: 100vw;
  }

  .banner-text {
    text-align: center;
  }

  .banner-text h1 {
    font-size: 3em;
  }

  .banner-bg img:nth-of-type(1) {
    width: 100%;
  }

  .banner-bg img:nth-of-type(2) {
    width: 90%;
  }
}