/* RESET  */
*,
html,
body,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #222;
  line-height: 1.5;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


html::-webkit-scrollbar {
  width: 1em;
  background: linear-gradient(90deg, #f5f5f5, #ffffff, #f5f5f5);
}

html::-webkit-scrollbar-thumb {
  background-color: #01586c;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  width: 0.8em;
  border-radius: 2em;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.main {
  width: 100%;
}

#how-it-works {
  margin-bottom: 60px;
  margin-top: -12em;
}

.nav {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 1000;
}

.nav-style-light {
  background-color: #fff;
  box-shadow: 10px 0 20px #59595964;
}

.nav-style-light a {
  color: #222 !important;
}

.nav-style-light .logo-section {
  color: #01586c;
}

.nav-style-dark {
  background-color: #01586c;
  color: #fff;
}

.nav-style-dark a {
  color: #fff !important;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  color: #13f4da;
  font-weight: bold;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 20%;
  margin-right: 1em;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
}

.menu-icon img {
  width: 60%;
}

.menu-items-section a {
  text-decoration: none;
  color: #fff;
  margin: 0 1.5em;
  position: relative;
  cursor: pointer;
}

.menu-items-section a:after {
  /* content: " "; */
  width: 100%;
  height: 5px;
  background-color: #00abd2;
  position: absolute;
  left: 0;
  border-radius: 2em;
  bottom: -1em;
}

.menu-items-section a:hover {
  color: #00abd2 !important;
}

.menu-items-section a:hover~a:after {
  background-color: #ff5985 !important;
}


.menu-items-section button,
#why-wastecoin-section button {
  padding: 1em 2em;
  border-radius: 2em;
  border: none;
  color: #fff;
  margin: 0 0 0 2em;
  background-color: #00abd2;
  cursor: pointer;
  transition: all 0.3s ease;
}

#why-wastecoin-section button {
  background-color: #014554;
  margin: 5em auto;
  display: block;
  width: 30vw;
  padding: 1.5em;
}

.menu-items-section button:focus,
#why-wastecoin-section button:focus {
  outline: 2px dashed #fff;
  outline-offset: 5px;
}

.menu-items-section button:hover {
  background-color: #00d0ff;
  color: #000;
}

#why-wastecoin-section button:hover {
  background-color: #fff;
  color: #01586c;
  font-weight: 600;
}

.section {
  width: 100%;
  overflow: hidden;
}

.banner-text-img-section {
  padding: 100px 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #01586c;
  margin-bottom: 0em;
}

.banner-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: auto;
  width: 60vw;
}

.banner-text {
  padding: 0 1em;
}

.banner-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #00d0ff;
  color: #fff;
  line-height: 1.2;
}

.banner-text p {
  color: #62e2ff;
  font-size: 1.2em;
  margin-top: 1em;
}

.banner-bg img:nth-of-type(1) {
  width: 45vw;
}

.banner-bg img:nth-of-type(2) {
  width: 40vw;
  position: absolute;
}

.banner-swirl {
  width: 100vw;
  height: 400px;
  margin-top: -30em;
}

/* how it workss */


#how-it-works-section {
  padding: 0 1em 1em 1em;
  position: relative;
  z-index: 2;
  /* margin: -2em 0 0 0; */
}

.heading {
  text-align: center;
  color: #008798;
  margin-bottom: 1em;
  font-size: 2em;
}

.steps {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 1em;
  margin: 0 auto;
}

.steps > div{
  display: flex;
  width: 30%;
  margin: 1em;
}

.step-number {
  font-size: 12em;
  font-weight: bold;
  color: #009cbf;
}

.step-img {
  height: 12vw;
  width: 100%;
  border-radius: 1em;
  background-color: #3ad2ee;
}

.step-title {
  font-size: 1.3em;
  color: #222;
  font-weight: 700;
  margin: 0.3em 0;
  font-family: 'Montserrat', sans-serif;
}

#how-it-works-section>img {
  position: absolute;
  left: -5em;
  bottom: -15em;
  width: 800px;
  z-index: -1;
}

.step-text-wrapper {
  flex: 1;
}

/* WHY WASTECOIN STYLING */

#why-wastecoin-section .section-content {
  background-color: #3bd7f1;
  width: 100vw;
  padding: 2em 1em;
  z-index: 2;
  overflow-x: hidden;
  padding-bottom: 15em;
}

#why-wastecoin-section .heading {
  color: #004b5d;
}

.why-section-swirl {
  width: 100%;
  height: 200px;
  transform: rotateZ(-0.8deg);
  margin-bottom: -2.5em;
  z-index: -1;
}

.section-content .content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.content-wrapper .content {
  text-align: center;
  width: 30%;
  height: 300px;
  background-color: #fff;
  border-radius: 2em;
  margin-top: 3em;
  /* padding: 0 1em 1em 1em; */
}

.content-wrapper .content>div {
  width: 15em;
  height: 15em;
  background-color: #13f4da;
  border: 1em solid #fff;
  border-radius: 50%;
  margin: -4em auto 2em auto;
}

.content h3 {
  color: #197f96;
  padding: 0 1em;
}

.content p {
  padding: 0 1em;
}

/* FOOTER SECTION STYLING */
.footer {
  width: 100vw;
}

.footer-content-wrapper {
  background-color: #01586c;
  padding: 1em;
  margin-top: -10em;
  color: #fff;
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-swirl {
  margin-top: -15em;
  width: 100%;
  height: 250px;
}

.footer-content {
  display: flex;
  justify-content: flex-start;
  line-height: 2.5;
  width: 100%;
}

.footer-content>div {
  flex: 1;
  width: 32%;
  margin: 1em;
}

.footer-content>div a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: fit-content;
}

.footer-content>div a:hover {
  color: #00d0ff;
}

.footer-content .social-media a {
  display: inline;
}

.footer-logo {
  margin-bottom: 1em
}

.footer-content img {
  display: inline;
  vertical-align: middle;
  /* width: 30px; */
}

.footer-content .social-media p {
  padding: 1em;
}

.copyright {
  text-align: center;
  display: block;
  margin-top: 2em;
  color: #52e0ff;
  font-weight: bold;
}

@media all and (max-width:960px) {
  .nav {
    flex-direction: column;
    padding: 0.6em 1em;
  }

  .logo-section {
    width: 100%;
    margin: 0.5em auto;
    padding: auto 1em;
  }

  .menu-icon {
    display: block;
  }

  .menu-items-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .menu-items-section a {
    margin: 1em;
  }

  .menu-items-section button {
    margin: 1em 0 0 0;
  }
}

@media all and (max-width:760px) {
  .banner-text-img-section {
    padding: 80px 1em 2em 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    border-radius: 0 0 7em 7em;
  }

  .banner-bg {
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
  }

  .banner-text {
    padding: 1em;
    text-align: start;
  }

  .banner-text h1 {
    font-size: 3em;
    line-height: 1.3;
  }


  .heading {
    font-size: 2em;
  }

  .banner-text p {
    color: #62e2ff;
    font-size: 1.4em;
    margin-top: 1em;
  }

  .banner-bg img:nth-of-type(1) {
    width: 70%;
  }

  .banner-bg img:nth-of-type(2) {
    width: 60%;
  }

  .banner-swirl {
    display: none;
  }

  #how-it-works {
    margin-top: 0;
  }

  .content-wrapper .content>div {
    width: 12em;
    height: 12em;
  }

}

@media all and (max-width:950px) {
  .steps {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 1em;
  }

  .steps>div {
    width: 40%;
    margin: 1em;
  }

  .step-img {
    height: 15vw;
  }

  #how-it-works-section>img {
    bottom: -10em;
    width: 80%;
  }
}

@media all and (max-width:760px) {
  .steps>div {
    width: 45%;

  }

  .step-img {
    height: 17vw;
  }
}

@media all and (max-width:680px) {
  .steps {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em 2em;
  }

  #how-it-works-section .heading {
    margin-bottom: 0;
  }

  .steps>div {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .step-img {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    ;
    margin: 0 auto;
  }

  #how-it-works-section>img {
    bottom: -10em;
    width: 80%;
  }

  .step-number {
    font-size: 4em;
  }

  .content-wrapper {
    flex-wrap: wrap;
  }

  .content-wrapper .content {
    text-align: center;
    width: 60%;
    height: 300px;
    background-color: #fff;
    border-radius: 2em;
    margin: 3em;
    padding: 0 1em 3em 1em;
  }

  #why-wastecoin-section button {
    margin: 2em auto;
    display: block;
    width: 50vw;
  }

}

@media all and (max-width:950px) {  
  .steps{
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 2em;
  }
  
  .steps > div{
    width: 40%;
    margin: 1em;
  }  
  .step-img{
    height: 15vw;
  }
  #how-it-works > img{
    bottom: -10em;
    width: 80%;
  }
}

@media all and (max-width:760px) {    
  .steps > div{
    width: 46%;
  
  }  
  .step-img{
    height: 17vw;
  }
}

@media all and (max-width:680px) {  
  .steps{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em 2em;
  }
  #how-it-works .heading{
    margin-bottom: 0;
  }
  
  .steps > div{
    display: flex;
    flex-direction: column;
    width: 80%;
  }  
  .step-img{
    height: 10em;
    width: 50%;
    margin:0 auto;
  }
  #how-it-works > img{
    bottom: -10em;
    width: 80%;
  }
  .step-number{
    font-size: 4em;
  }
}
@media all and (max-width:560px) {
  .banner-text-img-section {
    padding: 80px 1em 2em 1em;
  }

  .banner-bg {
    justify-content: center;
    width: 100vw;
  }

  .banner-text {
    text-align: center;
  }

  .banner-text h1 {
    font-size: 2.6em;
  }

  .banner-text p {
    font-size: 1.3em;
  }

  .banner-bg img:nth-of-type(1) {
    width: 70%;
  }

  .banner-bg img:nth-of-type(2) {
    width: 80%;
  }

  .step-img {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    background-color: #00abd2;
  }

  .content-wrapper .content {
    width: 94%;
    height: fit-content;
    padding: 0 1em 3em 1em;
    margin: 3em 1em;
  }


  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-swirl {
    margin-top: -15em;
    width: 100%;
    height: 250px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.5;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .footer-content>div {
    width: 100%;
    margin: 1em;
  }

}