/* RESET  */
*,
html,
body,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  color: #222;
  line-height: 1.5;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.main {
  width: 100%;
  overflow: hidden;
}

#how-it-works {
  margin-bottom: 60px;
  margin-top: -12em;
}

.nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 2em 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 1000;
}

.nav-style-light {
  background-color: #fff;
  box-shadow: 10px 0 20px #59595964;
}

.nav-style-light a {
  color: #222 !important;
}

.nav-style-light .logo-section {
  color: #01586c;
}

.nav-style-dark {
  background-color: #002a34;
  color: #fff;
}

.nav-style-dark a {
  color: #fff !important;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  color: #13f4da;
  font-weight: bold;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 1em;
  width: 3em;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
}

.menu-items-section a {
  text-decoration: none;
  color: #fff;
  margin: 0 1.5em;
  position: relative;
  cursor: pointer;
}

.menu-items-section a:hover {
  color: #00abd2 !important;
}

.menu-items-section a:hover~a:after {
  background-color: #ff5985 !important;
}


.menu-items-section .get-app-btn,
#why-wastecoin-section a,
.banner-text a {
  padding: 1em 2em;
  border-radius: 2em;
  border: none;
  color: #000 !important;
  margin: 0 0 0 2em;
  background-color: #00d0ff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;
}

#why-wastecoin-section .heading {
  margin-bottom: 2.5em;
}

#why-wastecoin-section a {
  background-color: #014554;
  color: #fff !important;
  margin: 5em auto;
  display: block;
  width: 30%;
  padding: 1.5em;
}

.menu-items-section a:focus,
#why-wastecoin-section a:focus {
  outline: 2px dashed #fff;
  outline-offset: 5px;
}

.menu-items-section a:hover,
.banner-text a:hover {
  background-color: #2effb6;
  color: #000;
}

#why-wastecoin-section a:hover {
  background-color: #fff;
  color: #01586c;
  font-weight: 600;
}

.section {
  width: 100%;
}

.banner-text-img-section {
  padding: 100px 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #01586c;
  background-color: #002a34;
  margin-bottom: 0em;
}

.banner-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: auto;
  width: 60%;
}

.banner-text {
  padding: 0 1em;
}

.banner-text a {
  display: block;
  margin: 2em 0 0 -0.5em;
  background-color: #00d0ff;
  border-radius: 2em;
  padding: 1em;
  text-decoration: none;
  color: #000;
  width: 400px;
  text-align: center;
  cursor: pointer;
}

.banner-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5em;
  color: #00d0ff;
  color: #fff;
  line-height: 1.2;
}

.banner-text p {
  color: #62e2ff;
  font-size: 1.2em;
  margin-top: 1em;
}

.banner-bg img:nth-of-type(1) {
  width: 45vw;
}

.banner-bg img:nth-of-type(2) {
  width: 40vw;
  position: absolute;
}

.banner-swirl {
  width: 100%;
  margin-top: -32em;
  pointer-events: none;
}

/* how it workss */

#how-it-works-section {
  padding: 0 1em 1em 1em;
  position: relative;
  z-index: 2;
}

.heading {
  text-align: center;
  color: #008798;
  margin-bottom: 1em;
  font-size: 2em;
}

.steps {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 1em;
  margin: 0 auto;
}

.steps>div {
  display: flex;
  width: 30%;
  margin: 1em;
}

.step-number {
  font-size: 12em;
  font-weight: bold;
  color: #009cbf;
}

.step-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vw;
  width: 100%;
  border-radius: 1em;
  background-color: #3ad2ee;
  overflow: hidden;
  text-align: center;
}

.step-img img {
  width: 80%;
  height: 80%;

}

.step-title {
  font-size: 1.3em;
  color: #222;
  font-weight: 700;
  margin: 0.3em 0;
  font-family: 'Montserrat', sans-serif;
}

#how-it-works-section>img {
  position: absolute;
  left: -5em;
  bottom: -15em;
  width: 800px;
  z-index: -1;
}

.step-text-wrapper {
  flex: 1;
}

/* WHY WASTECOIN STYLING */

#why-wastecoin-section .section-content {
  background-color: #3bd7f1;
  width: 100%;
  padding: 2em 1em;
  z-index: 2;
  overflow-x: hidden;
  padding-bottom: 15em;
}

#why-wastecoin-section .heading {
  color: #004b5d;
}

.why-section-swirl {
  width: 100%;
  margin-bottom: -12.5em;
  z-index: -1;
  pointer-events: none;
}

.section-content .content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.content-wrapper .content {
  text-align: center;
  width: 30%;
  height: 300px;
  background-color: #fff;
  border-radius: 2em;
  margin-top: 3em;
}

.icon-wrapper {
  overflow: hidden;
}

.icon-wrapper img {
  width: 80%;
  height: 90%;
}

.content-wrapper .content>div {
  width: 15em;
  height: 15em;
  background-color: #13f4da;
  border: 1em solid #fff;
  border-radius: 50%;
  margin: -4em auto 2em auto;
}

.content h3 {
  color: #197f96;
  padding: 0 1em;
}

.content p {
  padding: 0 1em;
}

/* FOOTER SECTION STYLING */
.footer {
  width: 100%;
}

.footer-content-wrapper {
  background-color: #002a34;
  padding: 1em;
  margin-top: -10em;
  color: #fff;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-swirl {
  margin-top: -15em;
  width: 100%;
  margin-left: -1px;
  pointer-events: none;
}

.footer-content {
  display: flex;
  justify-content: flex-start;
  line-height: 2.5;
  width: 100%;
}

.footer-header {
  font-size: 1.5em;
  color: #00d0ff;
  line-height: 1.6;
}

.footer-content>div {
  flex: 1;
  width: 32%;
  margin: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-content>div a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.footer-content>div a:hover {
  color: #00d0ff;
}

.footer-content .social-media a {
  display: inline;
}

.footer-logo {
  margin-bottom: 1em;
}

.footer-content img {
  display: inline;
  vertical-align: middle;
  margin: 0.5em;
}

.contact-form {
  width: 100%;

}

.footer-content .social-media p {
  padding: 1em;
}

.copyright {
  text-align: center;
  display: block;
  margin-top: 2em;
  color: #52e0ff;
  font-weight: bold;
}

@media all and (max-width:1200px) {
  .banner-text h1 {
    font-size: 4em;
  }
  .banner-swirl {
    margin-top: -28em;
  }
}

@media all and (max-width:990px) {
 
  .banner-text a {
    width: 40vw;
  }

  .banner-swirl {
    margin-top: -23em;
  }

  .why-section-swirl {
    margin-bottom: -3.5em;
  }
}

@media all and (max-width:820px) {
  .banner-text h1 {
    font-size: 3em;
  }
}

@media all and (max-width:960px) {
  .nav {
    flex-direction: column;
    padding: 0.6em 1em;
  }

  .logo-section {
    width: 100%;
    margin: 0.5em auto;
    padding: auto 1em;
  }

  .menu-icon {
    display: block;
  }

  .menu-items-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
  }

  .menu-items-section a {
    margin: 1em;
  }

  .menu-items-section button {
    margin: 1em 0 0 0;
  }
}

@media all and (max-width:760px) {
  .banner-text-img-section {
    padding: 80px 1em 2em 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    border-radius: 0;
  }

  .banner-bg {
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
  }

  .banner-text {
    padding: 1em;
    text-align: start;
  }

  .banner-text button {
    width: 200px;
  }

  .banner-text h1 {
    font-size: 3em;
    line-height: 1.3;
  }

  .heading {
    font-size: 2em;
  }

  .banner-text p {
    color: #62e2ff;
    font-size: 1.4em;
    margin-top: 1em;
  }

  .banner-bg img:nth-of-type(1) {
    width: 70%;
  }

  .banner-bg img:nth-of-type(2) {
    width: 60%;
  }

  .banner-swirl,
  .footer-swirl {
    display: none;
  }

  #how-it-works {
    margin-top: 0;
  }

  .content-wrapper .content>div {
    width: 12em;
    height: 12em;
  }

}

@media all and (max-width:950px) {
  .steps {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 1em;
  }

  .steps>div {
    width: 40%;
    margin: 1em;
  }

  .step-img {
    height: 15vw;
  }

  #how-it-works-section>img {
    bottom: -10em;
    width: 80%;
  }
  .banner-swirl {
    width: 100%;
    margin-top: -20em;
  }
}

@media all and (max-width:760px) {
  .steps>div {
    width: 45%;

  }

  .step-img {
    height: 17vw;
  }
}

@media all and (max-width:680px) {
  .steps {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
  }

  #how-it-works-section .heading {
    margin-bottom: 0;
  }

  .steps>div {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .step-img {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    ;
    margin: 0 auto;
  }

  #how-it-works-section>img {
    bottom: -10em;
    width: 80%;
  }

  .step-number {
    font-size: 4em;
  }

  .content-wrapper {
    flex-wrap: wrap;
  }

  .content-wrapper .content {
    text-align: center;
    width: 60%;
    height: 300px;
    background-color: #fff;
    border-radius: 2em;
    margin: 3em;
    padding: 0 1em 3em 1em;
  }

  #why-wastecoin-section button {
    margin: 2em auto;
    display: block;
    width: 50vw;
  }

}

@media all and (max-width:560px) {
  .banner-text-img-section {
    padding: 80px 1em 2em 1em;
    /* border-radius: 0 0 7; */
  }

  .banner-bg {
    justify-content: center;
    width: 100vw;
  }

  .banner-text {
    text-align: center;
  }

  .banner-text h1 {
    font-size: 2.6em;
  }

  .banner-text a {
    width: 100%;
  }

  .banner-text p {
    font-size: 1.2em;
  }

  .banner-bg img:nth-of-type(1) {
    width: 70%;
  }

  .banner-bg img:nth-of-type(2) {
    width: 80%;
  }

  .step-img {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    background-color: #00abd2;
  }

  .content-wrapper .content {
    width: 94%;
    height: fit-content;
    padding: 0 1em 3em 1em;
    margin: 3em 1em;
  }


  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-swirl {
    width: 100%;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.5;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .footer-content>div {
    width: 100%;
    margin: 1em;
  }

}

@media all and (min-width:1440px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }

  .nav {
    width: 1440px;
    left: initial;
  }

  .banner-bg img:nth-of-type(1) {
    width: calc(45/100 * 1440px);
  }

  .banner-bg img:nth-of-type(2) {
    width: calc(40/100 * 1440px);
    position: absolute;
  }

  .banner-text a {
    width: 400px;
  }

  .step-img {
    height: calc(12/100 * 1440px);
  }
}